[submodule "builder/frameworks/mbed"]
	path = builder/frameworks/mbed
	url = https://github.com/platformio/builder-framework-mbed
[submodule "builder/frameworks/arduino"]
	path = builder/frameworks/arduino
	url = git@github.com:jeremypoulter/builder-framework-arduino-nrf5.git
